<div class="outermostDiv">
    <div id="nonogramGrid">
        <dts-select-container #selectContainer="dts-select-container" (itemSelected)="onTileSelected($event)"
            (itemDeselected)="onTileDeselected($event)" (selectionEnded)="onSelectionEnded($event)" [custom]="true">
            <mat-grid-list cols={{gridWidth()+3}} rowHeight="1:1" gutterSize="0px">
                <mat-grid-tile style="display:none" [colspan]="3" [rowspan]="3"></mat-grid-tile>
                <mat-grid-tile [rowspan]="3" *ngFor="let vals of getPuzzle()[0]; let col = index">
                    <svg width="100%" height="100%" viewBox="0 0 33 100" preserveAspectRatio="none">
                        <text *ngFor="let v of vals;let p=index" x="50%" 
                        [attr.y]="getPuzzlePositionVertical(vals,p) + '%'"
                            [ngStyle]="{'font-size': getPuzzleTextSizeVertical(vals)}" dominant-baseline="text-bottom"
                            text-anchor="middle">{{v}}</text>
                    </svg>
                </mat-grid-tile>
                <div *ngFor="let row of getPattern(); let j = index">
                    <mat-grid-tile [colspan]="3">
                        <div class="horizontalNumbers">
                            <svg width="100%" height="100%" viewBox="0 0 100 33" preserveAspectRatio="none">
                                <text *ngFor="let v of getPuzzle()[1][j];let p=index" y="50%" [attr.x]="getPuzzlePositionHorizontal(getPuzzle()[1][j], p) + '%'"
                                    [ngStyle]="{'font-size': getPuzzleTextSizeHorizontal(getPuzzle()[1][j])}" dominant-baseline="mathematical"
                                    text-anchor="end">{{v}}</text>
                            </svg>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [dtsSelectItem]="{'fill':fill, 'row':j,'col':i}" *ngFor="let fill of row; let i = index"
                        [ngClass]="{'filled': fill==1, 'crossed': fill==2, 'distinctRow': (j%4)==0 && j!=0, 'distinctCol': i%4==0 && i!=0}">
                        <svg *ngIf="fill==2" width=100% height=100% viewBox="0,0,100,100">
                            <line x1="10" y1="10" x2="90" y2="90" stroke="grey" stroke-width="10"/>
                            <line x1="90" y1="10" x2="10" y2="90" stroke="grey" stroke-width="10"/>
                        </svg>
                    </mat-grid-tile>
                </div>
            </mat-grid-list>
        </dts-select-container>
    </div>
    <div id="gridNavControls">
            <mat-button-toggle-group *ngIf="!paintMode" (change)="onFillValueToggle($event)" class="toggleGroup" vertical="true" name="tileChoice" aria-label="Font Style">
                <mat-button-toggle value="blank" class="myToggle topToggleButton">
                    <img src="../../assets/icons/empty.svg" alt="Erase tiles">
                </mat-button-toggle>
                <mat-button-toggle value="filled" class="myToggle">
                    <img src="../../../assets/icons/filled.svg" alt="Fill tiles">
                </mat-button-toggle>
                <mat-button-toggle value="crossed" class="myToggle bottomToggleButton">
                    <img src="../../../assets/icons/crossed.svg" alt="Cross out tiles">
                </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group *ngIf="paintMode" (change)="onFillValueToggle($event)" class="toggleGroup" vertical="true" name="tileChoice" aria-label="Font Style">
                <mat-button-toggle value="toggle" class="myToggle topToggleButton">
                    <img src="../../assets/icons/half.svg" alt="Toggle between filled and empty">
                </mat-button-toggle>
                <mat-button-toggle value="cross" class="myToggle bottomToggleButton">
                    <img src="../../../assets/icons/crossed.svg" alt="Cross or unncross tiles">
                </mat-button-toggle>
            </mat-button-toggle-group>
            <button class="circleButton" (click)="onUndo()">
                <img src="../../../assets/icons/undo-black-18dp.svg" alt="Fill tiles">
            </button>
            <button class="circleButton" (click)="onRedo()">
                <img src="../../../assets/icons/redo-black-18dp.svg" alt="Fill tiles">
            </button>
            <button class="circleButton" (click)="onPaintButtonClick()">
                <img [ngClass]="{'noDisplay': paintMode}" src="../../../assets/icons/format_paint-black-18dp.svg" alt="Fill tiles">
                <img [ngClass]="{'noDisplay': !paintMode}" src="../../../assets/icons/psychology-black-18dp.svg" alt="Fill tiles">
            </button>
            <button class="circleButton" (click)="onFillModeToggle($event)">
                <img [ngClass]="{'noDisplay': fillMode==FillMode.line}" src="../../../assets/icons/linear_scale-black-18dp.svg" alt="Fill tiles">
                <img [ngClass]="{'noDisplay': fillMode==FillMode.rectangle}" src="../../../assets/icons/crop-black-18dp.svg" alt="Fill tiles">
            </button>
    </div>
</div>