.outermostDiv {
    width: 100%;
    height: auto;
    overflow: auto; /* For clearing a float, making sure this wraps its contents*/
    display: flex;
}

#nonogramGrid {
    width: 90%;
    float: left;
}

#gridNavControls {
    width: 10%;
    float: right;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.toggleGroup {
    width: 100%;
}

img {
    width: 100%;
}

.oneoneRatio {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    background-color: #2980b9;
}
/* button {
    width: 100%;
} */

.topFiller {
    width: 100%;
    padding-top: 200%;
    background-color: red;
}

.circleButton {
    width: 100%;
    /* height: 100%; */
    /* background-color: purple; */
    padding: 9%;
    border-radius: 100%;
}
/* .circleButton:after{
    content: "";
    display: block;
    padding-bottom: 100%;
} */

.circleButton > img {
    width: 100%;
    opacity: .7;
}

#mat-button-toggle-1 {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

.topToggleButton {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}
.bottomToggleButton {
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.myToggle {
    padding: 5%;
    line-height: normal;
}

:host ::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    padding: 13% 20%;
    line-height: normal;
}