<!-- <div class="outermostDiv">
    <div id="nonogramGrid">
        <app-nonogram-grid></app-nonogram-grid>
    </div>
    <div id="gridNavControls">
            <mat-button-toggle-group class="toggleGroup" vertical="true" name="tileChoice" aria-label="Font Style">
                <mat-button-toggle value="empty" class="myToggle topToggleButton">
                    <img src="../../assets/icons/empty.svg" alt="Erase tiles">
                </mat-button-toggle>
                <mat-button-toggle value="fill" class="myToggle">
                    <img src="../../../assets/icons/filled.svg" alt="Fill tiles">
                </mat-button-toggle>
                <mat-button-toggle value="cross" class="myToggle bottomToggleButton">
                    <img src="../../../assets/icons/crossed.svg" alt="Cross out tiles">
                </mat-button-toggle>
            </mat-button-toggle-group>
            <button class="circleButton">
                <img src="../../../assets/icons/undo-black-18dp.svg" alt="Fill tiles">
            </button>
            <button class="circleButton">
                <img src="../../../assets/icons/redo-black-18dp.svg" alt="Fill tiles">
            </button>
            <button class="circleButton">
                <img src="../../../assets/icons/format_paint-black-18dp.svg" alt="Fill tiles">
            </button>
            <button class="circleButton">
                <img *ngIf="true" src="../../../assets/icons/linear_scale-black-18dp.svg" alt="Fill tiles">
                <img *ngIf="false" src="../../../assets/icons/crop-black-18dp.svg" alt="Fill tiles">
            </button>
    </div>
</div> -->